<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089855757896-6cdbc2v9vn4431pka3f59gq9qjtandl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089855757896-6cdbc2v9vn4431pka3f59gq9qjtandl8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089855757896-0vkvk7ojrrcjilcft2tfct4akfk9l7mj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvmxN-Bc7JlsLTah-EE_RSRnm6oTh-_dU</string>
	<key>GCM_SENDER_ID</key>
	<string>1089855757896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cartandcook</string>
	<key>PROJECT_ID</key>
	<string>cart-and-cook</string>
	<key>STORAGE_BUCKET</key>
	<string>cart-and-cook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089855757896:ios:48030a0b5e15cbd3d4827d</string>
</dict>
</plist>